extends layout

block content
  .container
  
    .col-md-12
      .jumbotron
        h1.text-center= 'COOL-PAIR.NET'
        p.text-center= 'Find the match'
    
    #select-image(style='display: block;')
      .col-md-12
        #carousel-example-generic.carousel.slide(data-ride='carousel')
        
          ol.carousel-indicators
            li.active(data-target='#carousel-example-generic', data-slide-to='0')
            li(data-target='#carousel-example-generic', data-slide-to='1')
            li(data-target='#carousel-example-generic', data-slide-to='2')
          
          .carousel-inner(role='listbox')
            .item
              img(src='https://sickr.files.wordpress.com/2013/01/pokemon.jpg', alt='Img1')
              .carousel-caption
                h3='Slide 1'
                p='Content 1'
            .item.active
              img(src='http://media.japanpowered.com/images/pikachu-raichu.jpg', alt='Img2')
              .carousel-caption
                h3='Slide 2'
                p='Content 2'
            .item
              img(src='http://img03.deviantart.net/0e98/i/2013/320/4/b/all_pokemon_starters_inflated_by_selphy6-d6ufyo6.png', alt='Img3')
              .carousel-caption
                h3='Slide 3'
                p='Content 3'
          
          a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only= 'Previous'
          a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only= 'Next'
      
      .col-md-12
        .jumbotron
          button.btn.btn-default.center-block(onclick='document.getElementById("uploadBtn").click();')= 'Use my own photo'
          input#uploadBtn(type='file', accept='image/*', style='visibility: hidden; width: 0px; height: 0px')
          p.text-center= 'P.S. We don\'t keep the photo'
          
    #results(style='display: none;')
       .col-md-12
         img.img-responsive(src='http://www.literalindia.com/wp-content/uploads/2015/04/results.jpg', alt='Result')
       
       .col-md-12
         .jumbotron
           button.btn.btn-default.center-block#tryAnotherBtn= 'Try another photo'