extends layout

block content
  .container
  
    .col-md-12
        img.center-block(src='../imgs/logo.png', alt='Img0')
        h1.text-center= 'COOL-PAIR.NET'
        p.text-center= 'Find the match'
    
    #select-image(style='display: block;')
      .col-md-12
        #carousel-example-generic.carousel.slide(data-ride='carousel')
        
          ol.carousel-indicators
            li.active(data-target='#carousel-example-generic', data-slide-to='0')
            li(data-target='#carousel-example-generic', data-slide-to='1')
            li(data-target='#carousel-example-generic', data-slide-to='2')
          
          .carousel-inner(role='listbox')
            .item.active
              img.center-block(src='../imgs/1.jpg', alt='Img1')
            .item
              img.center-block(src='../imgs/2.jpg', alt='Img2')
            .item
              img.center-block(src='../imgs/3.jpg', alt='Img3')

          
          a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only= 'Previous'
          a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only= 'Next'
      
      .col-md-12
        .jumbotron
          button.btn.btn-default.center-block(onclick='document.getElementById("uploadBtn").click();')= 'Use my own photo'
          input#uploadBtn(type='file', accept='image/*', style='visibility: hidden; width: 0px; height: 0px')
          p.text-center= 'P.S. We don\'t keep the photo'
          
    #results(style='display: none;')
       .col-md-12
<<<<<<< HEAD
         img.img-responsive.center-block#uploadedImage(src='http://www.literalindia.com/wp-content/uploads/2015/04/results.jpg', alt='Result')
       
=======
         img.center-block.img-responsive(src='http://www.literalindia.com/wp-content/uploads/2015/04/results.jpg', alt='Result')
      
>>>>>>> 4465646aa725e41c2e199028038a52a93fb8e067
       .col-md-12
         .jumbotron
           button.btn.btn-default.center-block#tryAnotherBtn= 'Try another photo'