extends layout

block content
  .container
  
    .col-md-12
        img.center-block(src='../imgs/logo.png', alt='Img0')
        h1.text-center= 'COOL-PAIR.NET'
        p.text-center= 'Find the mates'
    
    #select-image(style='display: block;')
      .col-md-12
        #carousel-example-generic.carousel.slide(data-ride='carousel')
        
          ol.carousel-indicators
            li.active(data-target='#carousel-example-generic', data-slide-to='0')
            li(data-target='#carousel-example-generic', data-slide-to='1')
            li(data-target='#carousel-example-generic', data-slide-to='2')
          
          .carousel-inner(role='listbox')
            .item.active
              img.center-block(src='../imgs/f-01.jpg', alt='Img1')
            .item
              img.center-block(src='../imgs/f-02.jpg', alt='Img2')
            .item
              img.center-block(src='../imgs/f-03.jpg', alt='Img3')

          
          a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only= 'Previous'
          a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only= 'Next'
      
      .col-md-12
        .jumbotron
          button.btn.btn-default.center-block(onclick='document.getElementById("uploadBtn").click();')= 'Use my own photo'
          input#uploadBtn(type='file', accept='image/*', style='visibility: hidden; width: 0px; height: 0px')
          p.text-center= 'P.S. We don\'t keep the photo'
          
    #results(style='display: none;')
       .col-md-12
         img.img-responsive.center-block#loadingImage(src='/imgs/loading.gif', alt='Loading')
       .col-md-12#resultDiv
         img.img-responsive.center-block#uploadedImage(alt='Result')
         img.img-responsive#tag1(src='/imgs/tag.png', style='display: none;')
         img.img-responsive#tag2(src='/imgs/tag2.png', style='display: none;')
         #rect1
         #rect2
       .col-md-12
         .jumbotron
           button.btn.btn-default.center-block#findMoreBtn= 'Make interesting pics'
           button.btn.btn-default.center-block#tryAnotherBtn= 'Try another photo'

    #diy(style='display: none;')
       .col-md-12
         img.center-block#select-image(src='../imgs/f-03.jpg')

       .col-md-12
         .jumbotron
           button.btn.btn-default.center-block#backBtn= 'Back to result'
           button.btn.btn-default.center-block#tryAnotherBtn2= 'Try another photo' 
